/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: 000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
}

footer {
  background-color: #121212;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background-color: #f0efef;
  color: white;
}

header, section.benefits, footer {
  padding: 50px;
}

header h1 {
  font-size: 24px;
  font-weight: 800;
  float: left;
}

header h2 {
  font-size: 24px;
  font-weight: 600;
  padding: 50px;
}

header div {
  padding: 80px 50px 170px 50px;
}

header form input {
  color: black;
  font-weight: 900;
  font-size: 14px;
  background-color: #f9e42e;
  color: #033048;
  border: none;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
}

footer h2 {
  font-size: 24px;
  font-weight: 700;
  color: #f9e42e;
  padding-bottom: 30px;
}

footer ul {
  padding-bottom: 30px;
}

footer ul li {
  display: inline-block;
  list-style: none;
}

footer ul p {
  font-size: 9px;
  font-weight: 600;
  padding-top: 400px;
}

footer img {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0;
}

section ul li, section p {
  font-weight: 300;
  font-size: 13px;
  padding: 2px;
}

section ul {
  list-style-type: disc;
  margin: 20px 60px;
}

blockquote p {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  padding: 50px 200px 10px 200px;
}

#blockquote {
  text-align: center;
  background: url(../images/testimonial_bg.jpg) no-repeat center rgb(134,141,157);
  background-size: cover;
}

#signup form {
  background-color: #f9e42e;
  padding: 15px 0 15px 0;
}

.center {
  text-align: center;
}

section.benefits {
  background-color: #f0efef;
  color: #033048;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 25px;
  padding-right: 200px;
}

.benefits h2 {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.author {
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
}

input.center {
  background-color: #033048;
  font-size: 12px;
  font-weight: 800;
  color: white;
  border: none;
  text-align: center;
  border-radius: 5px;
  padding: 8px 30px 8px 30px;
}

